<%= form_for(@prediction) do |f| %>
  <% if @prediction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prediction.errors.count, "error") %> prohibited this prediction from being saved:</h2>

      <ul>
      <% @prediction.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  
  <div class="field">
    <%= f.label :fixture_id %><br />
    <%= f.text_field :fixture_id %>
  </div>
  
  <div class="field">
    <%= f.label :home_prediction %><br />
    <%= f.text_field :home_prediction %>
  </div>
  
  <div class="field">
    <%= f.label :away_prediction %><br />
    <%= f.text_field :away_prediction %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
