<h1>Listing selections</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Gameweek</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @selections.each do |selection| %>
  <tr>
    <td><%= selection.userid %></td>
    <td><%= selection.gameweek %></td>
    <td><%= link_to 'Show', selection %></td>
    <td><%= link_to 'Edit', edit_selection_path(selection) %></td>
    <td><%= link_to 'Destroy', selection, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Selection', new_selection_path %>
