<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @pick.user_id %>
</p>

<p>
  <b>Game1:</b>
  <%= @pick.game1 %>
</p>

<p>
  <b>Game2:</b>
  <%= @pick.game2 %>
</p>

<p>
  <b>Game3:</b>
  <%= @pick.game3 %>
</p>

<p>
  <b>Game4:</b>
  <%= @pick.game4 %>
</p>

<p>
  <b>Game5:</b>
  <%= @pick.game5 %>
</p>

<p>
  <b>Game6:</b>
  <%= @pick.game6 %>
</p>

<p>
  <b>Game7:</b>
  <%= @pick.game7 %>
</p>

<p>
  <b>Game8:</b>
  <%= @pick.game8 %>
</p>

<p>
  <b>Game9:</b>
  <%= @pick.game9 %>
</p>

<p>
  <b>Game10:</b>
  <%= @pick.game10 %>
</p>

<p>
  <b>Game11:</b>
  <%= @pick.game11 %>
</p>

<p>
  <b>Game12:</b>
  <%= @pick.game12 %>
</p>

<p>
  <b>Game13:</b>
  <%= @pick.game13 %>
</p>

<p>
  <b>Game14:</b>
  <%= @pick.game14 %>
</p>

<p>
  <b>Game15:</b>
  <%= @pick.game15 %>
</p>

<p>
  <b>Game16:</b>
  <%= @pick.game16 %>
</p>

<p>
  <b>Game17:</b>
  <%= @pick.game17 %>
</p>

<p>
  <b>Game18:</b>
  <%= @pick.game18 %>
</p>

<p>
  <b>Game19:</b>
  <%= @pick.game19 %>
</p>

<p>
  <b>Game20:</b>
  <%= @pick.game20 %>
</p>

<p>
  <b>Game21:</b>
  <%= @pick.game21 %>
</p>

<p>
  <b>Game22:</b>
  <%= @pick.game22 %>
</p>

<p>
  <b>Game23:</b>
  <%= @pick.game23 %>
</p>

<p>
  <b>Game24:</b>
  <%= @pick.game24 %>
</p>


<%= link_to 'Edit', edit_pick_path(@pick) %> |
<%= link_to 'Back', picks_path %>
