<header>
    <%= image_tag("epl.png", :alt => "Logo", :class => "round") %>
    <nav class="round">
      <ul>
        <li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Users", 'users' %></li>
		<li><%= link_to "Teams", 'teams' %></li>
		<li><%= link_to "Fixtures", 'fixtures' %></li>
        <li><%= link_to "Gameweeks", '#' %></li>
		<li><%= link_to "Selections", '#' %></li>
		<li><%= link_to "Leagues", '#' %></li>
        <li><%= link_to "Sign in", signin_path %></li>
      </ul>
    </nav>
</header>